.newCnt{
    position: relative;
    top: 650px;
}
.divcnt{
    position: relative;
    top: 50px;
    width: 700px;
    height: 400px;
}
.divIcon h5{
    text-align: center;
    padding: 20px;
}
.divIcon p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.testul{
    list-style: none;
    display: flex;
    gap: 10px;
    color: rgb(248, 140, 8);
    padding-right: 30px;

}
/* .testul li{
    display: flex;
    justify-content: space-around;
} */
